.header-section {
	box-shadow: 0 0 8px 4px rgba(0,0,0,0.2);
	display: block;
	width: 100%;	

	.is-hidden {
		display: none;
		visibility: none;
	}
}

.main-section {
	position: relative;
	width: 100%;

	/* Flex */
	flex-grow: 1;	// toma todo el ancho restante
}

.main-section-container {
	/* Posicion */
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;

	/* Flex */
	align-items: stretch;
	display: flex;
	flex-direction: row;
}
