.header-section {
	display: block;
	width: 100%;

	/* Flex */
	// flex-basis: 58px;
	// flex-grow: 2;
	// height: 58px;
}

.main-section {
	width: 100%;

	/* Flex */
	align-items: stretch;
	display: flex;
	flex-direction: wrap;
	flex-grow: 1;	// toma todo el ancho restante
	flex-wrap: nowrap;
}
