.header-section {
	display: block;
	width: 100%;
}

.main-section {
	width: 100%;

	/* Flex */
	align-items: stretch;
	display: flex;
	flex-direction: wrap;
	flex-grow: 1;	// toma todo el ancho restante
	flex-wrap: nowrap;
}
