$appCheck-size: 24px;
$appCheck-bg: $purple;
$appCheck-color: $white;
$appCheck-colorChecked: $blue;
$appCheck-fontSize: 24px;

.AppCheck-label {
    height: $appCheck-size;
    opacity: 0.5;
    position: relative;
    text-align: center;
    width: $appCheck-size;

    /* Transition */
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: ease-out;

    &:hover {
        opacity: 1;
    }

    /* Sombra */
    &::after {
        background: rgba($appCheck-bg, 0.3);
		border-radius: 50%;
		content: "";
		height: 0;
		width: 0;

		/* Posicion */
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 11;

		/* Transition */
	    transition-duration: 0.15s;
	    transition-property: background, height, width, opacity;
	    transition-timing-function: ease-out;
    }

    /* Icono */
    &::before {
        line-height: $appCheck-size;
        color: $appCheck-color;
		font-size: $appCheck-fontSize;

		/* Posicion */
		position: relative;
		z-index: 12;

		/* Transition */
		transition-duration: 0.15s;
		transition-property: color;
		transition-timing-function: ease-out;
    }

    &::selection {
        background: $transparent;
    }
}

.AppCheck-input {
    visibility: hidden;

    &:checked ~ .AppCheck-label {
        /* Sombra */
        &::after {
            height: $appCheck-size;
            // opacity: 1;
            width: 100%;
        }

        /* Icono */
        &::before {
            color: $appCheck-colorChecked;
        }
    }
}




/**
How it works
<input id="same" type="checkbox" class="AppCheck-input" />
<label  for="same" class="AppCheck icon-check_circle"></label>
**/
