.App-header {
	background: $white;
	padding: 5px 30px;
	width: 100%;
}

.App-options {
	overflow-y: auto;
	width: 260px;
}

.App-main {
	background: $yellow;
	overflow-y: auto;
	width: calc(100% - 260px)
}
