.AppHeader {	
	padding: 5px 30px;

	/* Flex */
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.AppHeader-left {
	/* Flex */
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-grow: 0.5;
}

.AppHeader-logo {
	width: 24px;
}

.AppHeader-label {
	font-size: 20px;
	margin: 0 0 0 20px;
}

.AppHeader-center {
	/* Flex */
	align-items: center;
	display: flex;
	flex-grow: 1;
}

.AppHeader-actionSearch {
	background: $actionSearch-bg;
	display: flex;
	flex-grow: 1;
	padding: 0 24px;

	input {
		background: $actionSearch-bg;
		border: none;
		font-weight: 600;
		height: 40px;
		vertical-align: top;

		/* Flex */
		flex-grow: 1;

		&:focus {
			outline:0px;
		}
	}
	.icon-search {
		color: $colorIcon-primary;
		font-size: 24px;
		line-height: 40px;
		margin-right: 20px;
	}
}

.AppHeader-actionUpload {
	margin-left: 20px;

	/* Flex */
	flex-grow: 1;

	.btn-upload {
		background: $transparent;
		border-radius: 50%;
		border: none;
		height: 48px;
		width: 48px;

		&:focus {
			outline:0px;
		}
	}

	.icon-backup {
		color: $colorIcon-primary;
		font-size: 24px;
	}
}

.AppHeader--select {
	background: #4285F4;
	color: $white;

	.appButton {		
		&:after {
			background: rgba($white, 0.1);			
		}
		
		&:active {
			background: rgba($white, 0.1);			
		}
	}
}