.OptionList {
	background: $white;
	width: 100%;

	/* Flex */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.OptionList-top {
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 24px;
	padding-bottom: 24px;
}

.OptionList-bottom {}

.OptionList-option {
	text-decoration: none;
	background: $app-primaryColor;
	padding: 12px 12px 12px 25px;

	/* Flex */
	display: flex;
	flex-direction: row;
	align-items: center;

	&:hover {
		background: $app-quaternaryColor;
	}

}

.OptionList-optionIcon {
	.icon {
		vertical-align: middle;
		font-size: 24px;
		color: $app-secondaryColor;
	}
}

.OptionList-optionLabel {
	color: $black;
	font-weight: bold;
	margin-left: 30px;
}

.is-select {
	background: $app-quaternaryColor;

	.OptionList-optionIcon .icon,
	.OptionList-optionLabel {
		color: $app-tertiaryColor;
	}
}
