.PhotoList-container {
    background: $white;
    margin-top: 40px;
    padding: 0 24px 24px 24px;

    /* Flex */
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.PhotoList {
    background: $red;
    margin-top: 20px;
    width: 100%;

    /* Flex */
    display: flex;
    flex-direction: column;
}

.PhotoList-date {
    color: #1B1B1B;
    font-size: 14px;
    font-weight: bold;
}

.PhotoList-photos {
    /* Flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.PhotoList-photo {
    background: $app-quaternaryColor;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    margin-top: 5px;
    position: relative;
    z-index: 1;

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    /* Sombra top */
    &::before {
        background-image: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent);
        content: "";
        height: 100%;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 15;
    }
}

.PhotoList-checkBox {
    /* Posicion */
    left: 5px;
    position: absolute;
    top: 5px;
    z-index: 9999 !important;

    &:checked ~ .PhotoList-image {
        transform: scale(0.85);
    }
}

.PhotoList-image {
    display: block;
    height: 220px;
    position: relative;

    /* transition */
    transition-duration: 0.2s;
    transition-property: transform;
    transition-timing-function: ease-out;

    img {
        height: 220px;
    }
}

.PhotoList-photoTitle {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 16px;

    /* Posicion */
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.PhotoList-shadow {
    background: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent),linear-gradient(to top,rgba(0,0,0,0.26),transparent 56px,transparent);
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/**
1) agregar estilos al boton
2) cambiar is-select

**/

/** Shadows
background-image: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent),linear-gradient(to top,rgba(0,0,0,0.26),transparent 56px,transparent);

background-image: linear-gradient(to bottom,rgba(0,0,0,0.26),transparent 56px,transparent);
**/
