.AppHeader {
    // background: $black;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
	flex-wrap: wrap;

}

.AppHeader-logo {}

.AppHeader-actions {}

.AppHeader-actionSearch {}

.AppHeader-actionUpload {}
