.App-header {
	background: $gray;
	width: 100%;
}

.App-options {
	background: $yellow;
	width: 260px
}

.App-main {
	background: $purple;
}

/**
.PhotosApp {
	background: $red;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
}

**/
