.App-header {
	background: $red;
	padding: 15px 30px;
	width: 100%;
}

.App-options {
	background: $blue;
	flex-basis: 260px;	// ancho estatico
}

.App-main {
	background: $yellow;
	flex-grow: 1;	// toma todo el ancho restante
}
